@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap");

body {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}

section {
  padding: 50px 0;
}

h2::after {
  content: "";
  border-bottom: 2px solid #3aade6;
  width: 75px;
  margin: 20px auto 0;
  display: block;
}

h2.right-border::after {
  display: none;
}

h2.right-border {
  border-right: 4px solid #3aade6;
  padding: 5px 10px;
  margin: 0 40px 80px 0;
  font-size: 38px;
}

.card {
  padding: 20px 15px;
  border: 1px solid #e7e2e2;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 25px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.card img {
  width: 150px;
  margin: auto;
}

.card p {
  max-width: 300px;
  margin: auto;
}

.card h3 {
  color: #3aade6;
  font-size: 16px;
  margin: 20px 0 15px 0;
}

.btn {
  border-radius: 40px;
  padding: 10px 75px;
  background-color: #233142;
  color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #384f6b;
  color: #fff;
}

.owl-dots {
  display: none;
}

.owl-prev span,
.owl-next span {
  font-size: 30px;
  padding: 5px 20px;
}

.owl-prev span,
.owl-next span {
  font-size: 30px;
  height: 40px;
  border-radius: 10px;
  line-height: 110%;
  display: block;
  padding: 0px 15px;
  background-color: #000;
  color: #fff;
}

.owl-prev span:hover,
.owl-next span:hover {
  background-color: #534b4b;
  border-radius: 10px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

.owl-theme .owl-nav [class*="owl-"] {
  background: none;
}

nav ul.pagination i {
  font-size: 12px;
}

/* navbar */
.navbar-brand {
  width: 150px;
}

.navbar-nav .nav-item .nav-link {
  background-color: transparent;
  transition: background 0.1s ease-in-out;
  width: 200px;
  margin: auto;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: #3aade6;
  color: aliceblue;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(58,173,230, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* end navbar */

/* hero section */
header {
  min-height: 100vh;
}

.hero-bg {
  background: url("../images/header-side.jpg") no-repeat;
  /* background-size: contain; */
  max-width: 100%;
  min-height: 100vh;
}

.hero-bg h1 {
  margin-top: 200px;
}

@media only screen and (max-width: 375px) {
  .hero-bg {
    min-height: 75vh;
  }
}
/* end hero section */

/* about-us section */
.about-us-img img {
  width: 80%;
}

.about-us-text p {
  padding: 25px;
  font-size: 24px;
}
/* end about-us section */

/* services section */
.services-bg {
  min-height: 500px;
  background: url("../images/we-offer.png") no-repeat;
  background-size: cover;
}

#services .card img {
  width: 150px;
  margin: auto;
}

#services .card {
  padding: 30px 15px;
}
/* end services section */

/* our-work section */
.our-work-bg {
  min-height: 500px;
  background: url("../images/bg30-Ar1web.gif");
}

#our-work .card {
  padding: 0;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
}

#our-work .card img {
  width: 100%;
  border-radius: 20px;
}

#our-work .card h3 {
  color: #333;
  font-size: 20px;
  margin: 24px 0;
}

/* end our-work section */

/* articles section */
#articles .card {
  padding: 0;
  max-width: 400px;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
}

#articles .card img {
  width: 100%;
  border-radius: 20px;
}

#articles .card p {
  color: #333;
  font-size: 18px;
  margin: 24px auto;
  max-width: 350px;
}

#articles .card i {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 5px;
}

#articles .card .btn {
  border-radius: 40px;
  padding: 5px 20px;
  font-size: 16px;
  margin: 0 25px 20px 0;
  box-shadow: none;
}

/* end articles section */

/* our-clients section */
.our-clients-bg {
  min-height: 500px;
  background: url("../images/our-client-bg.jpg") no-repeat;
  background-size: cover;
}

#our-clients img {
  max-width: 150px;
  margin: auto;
}

#our-clients .row > div {
  text-align: center;
}

#our-clients {
  padding-bottom: 0;
}

#our-clients .owl-nav {
  margin-top: 30px;
}
/* end our-clients section */

/* footer section */
footer {
  padding: 75px;
  background: url("../images/footer.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #fff;
}

footer img {
  max-width: 250px;
}

footer p:first-of-type {
  font-size: 18px;
}

footer i {
  font-size: 28px;
  margin-left: 18px;
}
/* end footer section */

/* our-work page */
#our-work-page {
  padding: 0;
}

#our-work-page .card {
  padding: 0;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
}

#our-work-page .card img {
  width: 100%;
  border-radius: 20px;
}

#our-work-page .card h3 {
  color: #333;
  font-size: 20px;
  margin: 24px 0;
}
/* end our-work page */

/* project-details section */
#project-details {
  padding-bottom: 0;
}

#project-details .project-details-bg {
  background-image: url("../images/details-bg.png");
  background-size: cover;
  background-position: center;
}

#project-details p {
  font-size: 22px;
  color: #fff;
}
/* end project-details section */

/* app-carousel section */
#app-carousel .owl-carousel {
  position: relative;
}

#app-carousel .owl-carousel .owl-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#app-carousel .owl-carousel .owl-item .item {
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s ease-in-out;
  margin: 50px 0;
}

#app-carousel .owl-carousel .owl-item .item img {
  transform: scale(0.6);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

#app-carousel .owl-carousel .owl-item.center .item img {
  transform: scale(0.9);
  opacity: 1;
  object-fit: cover;
}

#app-carousel .owl-carousel .owl-item.active {
  margin-left: -74px;
}
/* end app-carousel section */

/* articles page */
#articles .articles-bg {
  background-image: url("/assets/images/articles.jpg");
  background-size: cover;
  background-position: center;
}
/* end articles page */

/* articles-single page */
#articles-single-page {
  padding: 0;
}

#articles-single-page .card {
  padding: 0;
  box-shadow: 5px 5px 15px 0px rgb(0, 0, 0, 0.4);
}
#articles-single-page .card .inner-card {
  max-width: 500px;
}

#articles-single-page .card img {
  width: 100%;
  border-radius: 20px;
}

#articles-single-page .card p {
  color: #333;
  font-size: 24px;
  margin: 24px auto;
  max-width: 100%;
  line-height: 2;
}
/* end articles-single page */
